* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;   
}
a:hover{
    
    text-decoration: underline #FFFFFF;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    background: #00d1c7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 25px;
}

.logo img {
    width: 100px;
    height: 90px;
}

.navbar nav a {

    font: Josefin Sans, sans-serif;
    font-size: 28px;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
}

.navbar nav a:hover {
    text-decoration: underline;
}

.icon {
    justify-content: center;
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: -20px;
}

/* MID SECTION */

.firstimg {
    background-image: url(image/bg1.png);
    width: 100%;
    height: 920px;
    background-size: cover;

}

.welcometext {
    height: 20px;
    width: 200px;
}

h2 {
    color: #FFFFFF;
    font-size: 80px;
    letter-spacing: 0px;
    text-transform: uppercase;
    height: 140px;
    width: 700px;
    letter-spacing: -5px;
    word-spacing: 0px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    margin-top: 300px;
    margin-bottom: 20px;
}

#nounderline:hover {
    text-decoration: none;
}

.learnmore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    margin-top: 50px;
    margin-left: 110px;
}

.learnmore a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 34px;
}

.secondimg {
    background-image: url(image/bg2.png);
    width: 100%;
    height: 920px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondimg-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 570px;
    border-radius: 130px;
    background-color: rgba(3, 68, 8, 0.679);
}

.recipescenter {
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}

p {
    color: #fff;
    padding: 20px 20px;

}

.view-recipes {
    border: 2px solid #fff;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-recipes a {
    color: #ffffff;
    padding: 20px 10px;
    text-decoration: none;
    text-transform: capitalize;
}

.thirdimg {
    background-image: url(image/bg3.png);
    width: 100%;
    height: 920px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdimg-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 570px;
    border-radius: 130px;
    background-color: rgba(3, 68, 8, 0.679);
}

.storelocatorcenter {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}

.find-products {
    border: 2px solid #fff;
    width: 180px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-products a {
    color: #ffffff;
    padding: 20px 10px;
    text-decoration: none;
    text-transform: capitalize;
}

/* FOOTER */

.footer {
    background-color: rgb(61, 61, 61);
    width: 100%;
    height: 127px;
    font-family: sans-serif, Arial;
}

.footer-content {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.footer-content p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: bolder;
    margin-top: 1px;
    margin-left: 0px;
    margin-right: 0px;
}


.footer-last {
    display: flex;
    justify-content: center;
}

.footer-last p {
    color: #fff;
    font-size: 12px;
    font-weight: bolder;
    margin-top: 0px;
}